body {
  min-height: 500px;
  min-width: 700px;
}

.loc {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.geo {
  margin: 10px;
}

.scroll-table {
  /*overflow: scroll;
  height: 80%;*/
  overflow:auto;
  width: 100%;
  position:absolute;
  top:150px;
  bottom:50px;
}

.input-group {
  margin-top: 10px;
}

.navbar-default {
  border: 0 !important;
  background-color: #FFFFFF !important;
}

.navbar-brand {
  padding: 0 !important;
}

.footer {
  background-color: #f5f5f5;
  width: 100% !important;
  overflow:hidden;
  position:absolute;
  bottom:0;
  left:0;
  height:50px
}

.pagination {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#search-box {
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    width: 300px;
}
