<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="eventbrite">
  <head>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
      }
    </style>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
     <!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script> -->
     <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/eventbrite.js"></script>
  </head>
  <body ng-controller="MainController as ctrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Eventbrite
          </a>
        </div>
      </div>
    </nav>
    <div class="row loc">
      <div class="input-group">
        <input type="text" ng-model="ctrl.locationQuery" class="form-control" placeholder="Enter Location">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-disabled="ctrl.locationQuery.length === 0" type="button" ng-click="ctrl.getPopularEvents();">Find Events</button>
        </span>
      </div><!-- /input-group -->
      <br /><br />
    </div>
    <div class="scroll-table">
      <table class="table table-bordered table-hover" ng-show="ctrl.hasData">
        <thead>
          <td>#</td>
          <td>Event Name</td>
          <td>Start Date</td>
          <td>Status</td>
        </thead>
        <tbody ng-repeat="event in ctrl.eventData.events">
          <td>{{$index + 1}}</td>
          <td><a href="{{event.url}}" target="_blank">{{event.name.text}}</a></td>
          <td>Date:&nbsp;{{event.start.local.split("T")[0]}}
            <br />
            Time: &nbsp;{{event.start.local.split("T")[1]}}
          </td>
          <td>{{event.status}}</td>
        </tbody>
      </table>
    </div>
    <div id="footer" style="overflow:hidden; position:absolute; bottom:0; left:0; height:50px"></div>
  </body>
</html>
