<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="eventbrite">
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
     <!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script> -->
     <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
     <script type="text/javascript" src="bower_components/spin.js/spin.min.js"></script>
     <script type="text/javascript" src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="scripts/controllers/maincontroller.js"></script>
    <script src="scripts/services/eventbriteapiservice.js"></script>
  </head>
  <body ng-controller="MainController as ctrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="images/Eventbrite-logo.png" />
          </a>
        </div>
      </div>
    </nav>
    <div class="row loc">
      <div class="input-group">
        <input type="text" ng-model="ctrl.locationQuery" ng-disabled="ctrl.isLocationRadio" class="form-control" placeholder="Enter Location">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-disabled="ctrl.locationQuery.length === 0" type="button" ng-click="ctrl.getPopularEvents(1);">Find Events</button>
        </span>
      </div>
    </div>
    <div class="geo">
          Use My Location:
          <input type="checkbox" ng-model="ctrl.isLocationRadio" ng-change="ctrl.getLocationEvents()" />
          &nbsp;&nbsp;&nbsp;&nbsp;Events within
          <select name="select" ng-model="ctrl.selectedDist" ng-change="ctrl.changeDist()">
            <option>10mi</option>
            <option>20mi</option>
            <option>30mi</option>
          </select>
      </div>


      <br /><br />
    </div>
    <span us-spinner spinner-on="ctrl.showSpinner"></span>
    <div class="scroll-table">
      <table class="table table-bordered table-hover" ng-show="ctrl.hasData">
        <thead>
          <th>Event Name</th>
          <th>Start Date</th>
          <th>Status</th>
        </thead>
        <tbody ng-repeat="event in ctrl.eventData.events">
          <td><a href="{{event.url}}" target="_blank">{{event.name.text}}</a> <br />
          <span class="label label-success" ng-show="event.isOnComingWeekend">Coming Weekend</span></td>
          <td>{{event.start.local.split("T")[0]}}
            <br />
            {{event.start.local.split("T")[1]}}
          </td>
          <td>{{event.status}}</td>
        </tbody>
      </table>
    </div>
    <div class="container footer" ng-show="ctrl.hasData">
      <nav>
        <ul class="pagination">
          <li ng-repeat="i in ctrl.pages">
            <a href="#" ng-click="ctrl.getEvents(i)">{{i}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
